<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsjs.zb.dao.DiscussMapper" >
  <resultMap id="BaseResultMap" type="com.lsjs.zb.pojo.Discuss" >
    <constructor >
      <idArg column="discuss_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="child_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="server_or_need_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="discuss_img" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    discuss_id, child_id, server_or_need_id, parent_id, user_id, content, discuss_img
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lsjs.zb.pojo.DiscussExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from discuss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from discuss
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from discuss
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lsjs.zb.pojo.DiscussExample" >
    delete from discuss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lsjs.zb.pojo.Discuss" >
    insert into discuss (discuss_id, child_id, server_or_need_id, 
      parent_id, user_id, content, 
      discuss_img)
    values (#{discussId,jdbcType=INTEGER}, #{childId,jdbcType=INTEGER}, #{serverOrNeedId,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{discussImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lsjs.zb.pojo.Discuss" >
    insert into discuss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="discussId != null" >
        discuss_id,
      </if>
      <if test="childId != null" >
        child_id,
      </if>
      <if test="serverOrNeedId != null" >
        server_or_need_id,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="discussImg != null" >
        discuss_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="discussId != null" >
        #{discussId,jdbcType=INTEGER},
      </if>
      <if test="childId != null" >
        #{childId,jdbcType=INTEGER},
      </if>
      <if test="serverOrNeedId != null" >
        #{serverOrNeedId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="discussImg != null" >
        #{discussImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lsjs.zb.pojo.DiscussExample" resultType="java.lang.Integer" >
    select count(*) from discuss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update discuss
    <set >
      <if test="record.discussId != null" >
        discuss_id = #{record.discussId,jdbcType=INTEGER},
      </if>
      <if test="record.childId != null" >
        child_id = #{record.childId,jdbcType=INTEGER},
      </if>
      <if test="record.serverOrNeedId != null" >
        server_or_need_id = #{record.serverOrNeedId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.discussImg != null" >
        discuss_img = #{record.discussImg,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update discuss
    set discuss_id = #{record.discussId,jdbcType=INTEGER},
      child_id = #{record.childId,jdbcType=INTEGER},
      server_or_need_id = #{record.serverOrNeedId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      discuss_img = #{record.discussImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lsjs.zb.pojo.Discuss" >
    update discuss
    <set >
      <if test="childId != null" >
        child_id = #{childId,jdbcType=INTEGER},
      </if>
      <if test="serverOrNeedId != null" >
        server_or_need_id = #{serverOrNeedId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="discussImg != null" >
        discuss_img = #{discussImg,jdbcType=VARCHAR},
      </if>
    </set>
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lsjs.zb.pojo.Discuss" >
    update discuss
    set child_id = #{childId,jdbcType=INTEGER},
      server_or_need_id = #{serverOrNeedId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      discuss_img = #{discussImg,jdbcType=VARCHAR}
    where discuss_id = #{discussId,jdbcType=INTEGER}
  </update>
</mapper>